body {
    background-image: url("https://www.itl.cat/pngfile/big/14-141321_wallpaper-brown-shadow-background-black-brown-to-black.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

header {
    background-image: url("https://lh3.googleusercontent.com/proxy/2O6M2zLOaQQVv0wXbseE0dFrgNQH0BkHa0bOszQFV4cmPenO_kEXao8GC51t9DxmnAGhBdxhhQUjJPD-2iSroqLqn6brVYuFuGHLwMKndwZnvq_FLSrXxiOPad30EjQuvWMmjDJD_GbMeiWaPvZGybTj9ddOOQ");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: large;
    font-family: 'Federant';
    color: rgb(252, 164, 33);
    /* background-color: rgb(110, 45, 2); */
    padding-bottom: 0px;
    padding-top: 3px;
    position: sticky;
    left: 0px;
    right: 0px;
    top: 0px;
}

#myImage h1 {
    text-align: left;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(252, 164, 33);
    /* background-color: rgb(110, 45, 2); */
    background-image: url("/img/my\ brown\ nav.jpg");
    border: 2px solid rgb(53, 35, 2);
    padding: 6px;
    position: static;
    top: 85px;
}

#extra h2 {
    text-align: left;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(252, 164, 33);
    background-image: url("/img/my\ brown\ nav.jpg");
    /* background-color: rgb(110, 45, 2); */
    border: 2px solid rgb(53, 35, 2);
    padding: 6px;
    position: static;
}

.addInfo h3 {
    text-align: left;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(252, 164, 33);
    /* background-color: rgb(110, 45, 2); */
    background-image: url("/img/my\ brown\ nav.jpg");
    border: 2px solid rgb(53, 35, 2);
    padding: 6px;
    position: static;
}

nav li {
    display: inline-block;
    text-align: center;
    padding: 3px;
    padding-bottom: 7px;
}

nav a {
    text-decoration: none;
    color: rgb(252, 164, 33);
    padding-bottom: 7px;
}

#myImage img {
    float: left;
    width: 130px;
    height: 170px;
    border: rgb(129, 78, 0) solid;
    padding: 5px;
    margin: 15px;
}

#sortInfo {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(189, 123, 23);
    border: rgb(129, 78, 0) solid 6px;
    display: block;
    margin-block-start: 6em;
    margin-block-end: 6em;
    margin-inline-start: 10px;
    margin-inline-end: 10px
}

#extraInfo {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(189, 123, 23);
    border-left: solid rgb(129, 78, 0);
    padding-left: 10px;
    margin-inline-start: 5px;
    margin-inline-end: 5px
}

.addInfo li {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(189, 123, 23);
    border-left: solid rgb(129, 78, 0);
    padding-left: 10px;
    margin-inline-start: 5px;
    margin-inline-end: 5px
}

footer {
    /* background-color: rgb(110, 45, 2); */
    background-image: url("/img/my\ brown\ nav.jpg");
    border: solid rgb(75, 49, 0);
    padding: 8px;
    color: rgb(230, 149, 28);
    text-align: center;
}

a:hover,
a:active {
    background-color: rgb(54, 24, 0);
    font-size: 110%;
}

#myImage img:hover {
    opacity: .80;
}

header:hover {
    opacity: .90;
}
